$bg-color: #f3f3f3;
$txtcolor: #444;
$txtGreen: #66c873;
$txtRed: #f5465d;
$bg-gradient-green: linear-gradient(to top left, #39b385, #9be15d);
$bg-gradient-red: linear-gradient(to top left, #e52a5a, #ff585f);
$bg-gradient-yellow: linear-gradient(to top left, #ffb003, #ffcb03);
